form {

    width: 40%;
    line-height: 1;

}

form h1 {
    font-weight: 700;
    font-size: 2rem;
}

form h1,
form p {
    text-align: center;
    margin-top: 1.5rem;
}
form p {

    margin-bottom: 1rem;
}

form button {
    width: 100%;
    padding: 0.7rem 2.5rem;
    margin: 8px 0;
    background-color: #ebebebb3;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 16px;
    margin-right: 1rem;
    outline: none;
    box-shadow: none;
}


.continbtn {
    background-color: #4285f4;
    color: white;
}
.box{

    width: 40%;
    height:100%;
    display: flex;
    display: block;
    margin: auto;
    position: relative;
overflow: hidden;
border-radius: 20%;
}
.rec{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    fill:rgb(200, 200, 200);
    border-radius: 20%;

}
form [type=text] {
    width: 100%;
    padding: 0.7rem 2.5rem;
    margin: 8px 0;
    background-color: #ebebebb3;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 16px;
    margin-right: 1rem;
    outline: none;
    box-shadow: none;

}

form .uploadimg [type=file] {
    position: relative;
    width: 130px;
    height: 130px;
    padding: 0.7rem 2.5rem !important;
    background-color: #ebebebb3;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    outline: none;
    box-shadow: none;
    display: inline-block;
    text-align: center;
    opacity: 0;
}

form .uploadimg {
    border-radius: 50%;
    overflow-wrap: inherit;
    width: 130px;
    height: 130px;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("/images/add_a_photo.png") center center no-repeat #e4e4e4;
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
}
form #file {

    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4;
    border-radius: 20px;
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
form .upload [type=file] {
    height: 100%;
    width: 100%;
    padding: 0.7rem 2.5rem !important;
    margin: 8px 0px;
    background-color: #ebebebb3;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 16px;
    margin-right: 1rem;
    outline: none;
    box-shadow: none;
    display: inline-block;
}

form #file {

    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4;
    border-radius: 20px;
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
form select {
    width: 100%;
    padding: 0.7rem 2.5rem;
    margin: 8px 0;
    background-color: #ebebebb3;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 16px;
    margin-right: 1rem;
    outline: none;
    box-shadow: none;
}
::file-selector-button {
    display: none;
}
.regsub {
    margin-top: 1rem;
}


@media only screen and (max-width: 600px) {
    form {
        width: 80%;
    }
    .submitbtn {
        margin-top: 0.5rem;
    }
}


.persongroup {
    text-align: center;
    width: 40%;
    line-height: 1;
}

.persongroup h1 {
    font-weight: 700;
    font-size: 1.75rem;
}

.persongroup h1 {
    text-align: center;
}
.personandgroup{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 1rem;


}
.personandgroup a{
    color:#000;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items:center;
    margin-top: 1rem;
}
.personandgroup a:hover{
    color:#fff;
    text-decoration: none;
}

.person{
    background-color: #cfdcf1;
    padding: 2rem 0.5rem 0.5rem 0.5rem;
    border-radius: 20%;

}
.material-icons{
    font-size:10rem;
}
.group{
    background-color:   #eecccc;
    padding: 2rem 0rem 0.5rem 0rem;
    border-radius: 20%;
}

@media only screen and (max-width:1000px) {
    .material-icons{
    font-size: 4rem;
    }
.group{
    padding: 2rem 0.5rem 0.5rem 0.5rem;
}
.person{
    padding: 2rem 0.5rem 0.5rem 0.5rem;
}
.personandgroup p{
    font-size: 0.5rem;
}


}
@media only screen and (max-width:600px) {
    .persongroup h1 {
    font-weight: 700;
    font-size: 0.75rem;
}
}

